# --- ANSIBLE & SECRETS ---
# Sluit ALLE secrets uit, behalve versleutelde en voorbeelden
**/secrets/vault/*.yml
!**/secrets/vault/README.md
!**/secrets/vault/template-*.yml
!**/secrets/vault/example-*.yml
# **/secrets/vault/*.vault   # otherwise GitHub problems
**/vault_pass.txt
**/.vault_pass
*.retry
ansible.log
*.iso

# --- LYNIS RAPPORTEN & LOGS ---
playbooks/reports/
playbooks/*.dat
playbooks/reports/*.dat
**/lynis-report-*.dat
**/lynis.log

# --- CONFIGURATIEBESTANDEN (lokaal) ---
rclone.conf
*.conf.local
*.cfg.local

# --- LOGS & DATABASES ---
*.log
*.db
*.db-*
*.sqlite
*.sqlite3

# --- OS SPECIFIEK ---
.DS_Store
Thumbs.db
desktop.ini
.*.swp
.*.swo
*~

# --- IDE / EDITOR ---
.vscode/
.idea/
*.code-workspace
*.sublime-*

# --- BACKUPS ---
*.bak
*.backup
*.old
*.orig

# --- TEMP BESTANDEN ---
tmp/
temp/
*.tmp
*.temp

# --- LOKALE SCRIPTS ---
update_git.sh
reset_git_lastknowngood.sh
bfg-*.jar

# Generated bestanden
generated/
playbooks/generated-*.yml
