STRELAY_GLOBAL_RATE=500000
STRELAY_PROVIDED_BY="MijnServer"
STRELAY_LISTEN=":{{ syncthing_relay_tcp }}"
STRELAY_STATUS_SRV=":{{ syncthing_relay_status }}"
STRELAY_POOL="https://relays.syncthing.net/endpoint"