{
    "ServiceSettings": {
        "SiteURL": "{{ site_url }}",
        "ListenAddress": ":{{ mattermost_port }}",
        "MaximumLoginAttempts": 5,
        "EnableLocalMode": true,
        "LocalModeSocketLocation": "/var/run/mattermost.sock"
    },
    "TeamSettings": {
        "SiteName": "Linux Café Haarlem Chat",
        "MaxUsersPerTeam": 50
    },
    "EmailSettings": {
        "SendEmailNotifications": false,
        "RequireEmailVerification": false,
        "EnableSignInWithEmail": true,
        "EnableSignInWithUsername": true,
        "FeedbackEmail": "vcp5693@duck.com",
        "FeedbackOrganization": "Linux Café Haarlem"
    },
    "SqlSettings": {
        "DriverName": "postgres",
        "DataSource": "postgres://mmuser:{{ db_password }}@localhost:5432/mattermost?sslmode=disable&connect_timeout=10",
        "MaxIdleConns": 10,
        "MaxOpenConns": 10
    },
    "FileSettings": {
        "DriverName": "local",
        "Directory": "/opt/mattermost/data"
    },
    "LogSettings": {
        "EnableConsole": true,
        "ConsoleLevel": "INFO",
        "EnableFile": true,
        "FileLevel": "INFO",
        "FileLocation": "/var/log/mattermost/mattermost.log"
    },
    "PasswordSettings": {
        "MinimumLength": 8
    }
}