{# DRBL 2.6 Answer File - Geïdentificeerd door '26' in bestandsnaam #}
en
y
{{ internal_interface }}
y
n
n
1
n
n
10
n
{{ internal_subnet }}
y
{{ dhcp_range_start }}
{{ dhcp_range_end }}
{{ internal_broadcast }}
n
n
1
n
y
y
y