# {{ ansible_managed }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ secret.name }}
  namespace: {{ secret.namespace | default('default') }}
type: Opaque
data:
{% for key, value in secret.data.items() %}
  {{ key }}: {{ value | b64encode }}
{% endfor %}
