[Unit]
Description=Backup Exporter
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/prometheus-node-exporter --collector.textfile.directory=/var/lib/node_exporter/textfile_collector
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
