# {{ ansible_managed }}
# Backup retention configuration

RETENTION_DAILY={{ backup_retention_daily }}
RETENTION_WEEKLY={{ backup_retention_weekly }}
RETENTION_MONTHLY={{ backup_retention_monthly }}
RETENTION_YEARLY={{ backup_retention_yearly }}
