apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://localhost:{{ prometheus_listen_port }}
    isDefault: true
    editable: true
  - name: Loki
    type: loki
    access: proxy
    url: http://localhost:{{ loki_listen_port }}
    editable: true
